<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>QuACS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://npmcdn.com/vue-router/dist/vue-router.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://rawgit.com/kawanet/msgpack-lite/master/dist/msgpack.min.js"></script>
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <router-link class="navbar-brand" to="/">Quacs</router-link>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <router-link class="nav-link" to="/">Home</router-link>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
      <div class="container-fluid" style="margin-top:1rem">

          <router-view></router-view>

        </div>
      </div>
    </div>

    <script type="text/javascript">
    "use strict";

    const Homepage = { template: `
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div v-for="department in this.$parent.courses.departments">
            <router-link class="nav-link" :to="'/department/'+department.code">{{department.name}}</router-link>
          </div>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-2"></div>
      </div>
      `
    }
    const Department = {
      data: function () {
        return {
          count: 0
        }
      },
      computed: {
        department: function () {
          if(Object.keys(this.$parent.courses).length === 0){
            return {};
          }
          for(let i=0;i<this.$parent.courses.departments.length;i++){
            if(this.$parent.courses.departments[i].code == this.$route.params.code){
              return this.$parent.courses.departments[i];
            }
          }
        },
      },
      methods: {
        getDescription: function(subject, code){
          let output = ""
          if(subject+'-'+code in app.catalog){
            output+=app.catalog[subject+'-'+code].description
            // output+=' ' + app.catalog[subject+'-'+code].pre_req
          }
          return output
        },
      },
      template: `
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg">
          <h1>{{department.code}}: {{department.name}}</h1>
          <div class="row">
            <div v-for="course in department.courses" class="col-xl-6" style="margin-bottom:1rem">
              <div class="card">
                <div class="card-header">
                  <span style="font-weight:bold">{{course.title}} ({{course.subj}}-{{course.crse}})</span>
                  <br>
                  {{getDescription(course.subj, course.crse)}}
                </div>
                <div class="card-body">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
      `
    }


      var app = new Vue({
        el: '#app',
        router: new VueRouter({
          routes: [
            { path: '/', component: Homepage },
            { path: '/department/:code', component: Department }
          ]
        }),
        data: {
          page: "homepage",
          courses: {},
          catalog: {},
        }
      }).$mount('#app')
      $.getJSON('./data/courses.json', function (json) {
          app.courses = json;
          console.log("done loading courses")
      });
      $.getJSON('./data/catalog.json', function (json) {
          app.catalog = json;
      });
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
