.week-day {
        width: fit-content;
        text-align: center;
}

.course-row {
        cursor: pointer;
}

.course-row:hover {
        background: var(--course-row-hover);
}

.conflict {
        text-decoration: line-through;
        background: var(--conflict-row);
}

.conflict:hover {
        background: var(--conflict-row-hover);
}

.selected {
        background: var(--selected-row);
}

.selected:hover {
        background: var(--selected-row-hover);
}
