.week-day {
        width: fit-content;
}

.conflict {
        text-decoration: line-through;
        background: #ff7b7b;
}

.selected {
        background: #9198f9;
}

.info-cell {
        font-size: 11pt;
}

.time-cell {
        font-size: 10pt;
        padding: 3px !important;
}

.desktop-only {
        display: none;
}

.mobile-only {
        display: block;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
        .desktop-only {
                display: block;
        }

        .mobile-only {
                display: none;
        }
}

.course-row {
        cursor: pointer;
}
