.week-day {
        width: fit-content;
        text-align: center;
}

.course-row {
        cursor: pointer;
}

.course-row:hover {
        background: #f0f0f0;
}

.conflict {
        text-decoration: line-through;
        background: #ff6060;
}

.conflict:hover {
        background: #ff7b7b;
}

.selected {
        background: #9198f9;
}

.selected:hover {
        background: #acb2ff;
}

.info-cell {
        font-size: 11pt;
}

.time-cell {
        font-size: 10pt;
        padding: 3px !important;
        white-space: nowrap
}

.desktop-only {
        display: none;
}

.mobile-only {
        display: block;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
        .desktop-only {
                display: block;
        }

        .mobile-only {
                display: none;
        }
}
