<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/media/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="/media/favicon.ico" type="image/x-icon" />
    <title>QuACS</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://npmcdn.com/vue-router/dist/vue-router.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://rawgit.com/kawanet/msgpack-lite/master/dist/msgpack.min.js"></script>
    <script src="https://kit.fontawesome.com/ee18bd2d3d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <router-link class="navbar-brand" to="/"><img src="media/quacs_40.png" alt="QuACS" style="height:40px"></router-link>
        <router-link class="navbar-brand" to="/schedule">Schedule</router-link>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="COMING SOON Search" aria-label="COMING SOON: Search" disabled>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
      </nav>
      <div class="container-fluid" style="margin-top:1rem">
          <div><i id="loading-icon" class="fas fa-spinner fa-spin fa-4x fa-fw"></i></div>
          <div class="loading">
            <router-view></router-view>
          </div>

        </div>
      </div>
    </div>

    <script type="text/javascript">
    "use strict";

    // TODO switch this to follow the same row/col format as courses page
    const Homepage = { template: `
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h3>
            Join the QuACS development discord server!
            <a href="https://discord.gg/3xNxfBy">https://discord.gg/3xNxfBy</a>
          </h3>
          <br><br>
          <div v-for="department in this.$parent.courses.departments">
            <router-link class="nav-link" :to="'/department/'+department.code">{{department.code}}: {{department.name}}</router-link>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      `
    }

    Vue.component('course-card', {
      props: {
        course: Object,
        catalog: Object,
        selected: Object,
        conflict_list: Object,
      },
      data: function () {
        return {
          days: ['M','T', 'W', 'R', 'F'],
          expanded: false,
        }
      },
      methods: {
        getDescription: function(subject, code){
          let output = ""
          if(subject+'-'+code in this.catalog){
            output+=this.catalog[subject+'-'+code].description
            // output+=' ' + app.catalog[subject+'-'+code].pre_req
          }
          return output
        },
        getDay: function(timeslots, day){
          let todays_times = [];
          for(let i=0;i<timeslots.length;i++){
            for(let j=0;j<timeslots[i].days.length;j++){
              if(timeslots[i].days[j] === day){
                todays_times.push(timeslots[i]);
              }
            }
          }
          todays_times.sort(function(a, b) {
            return a.time_start - b.time_start;
          });
          return todays_times;
        },
        formatTime: function(time) {
          let hour = Math.floor(time/100)
          let min = (time%100).toString()
          let output = ""
          if(hour > 12){
            output = hour-12;
          }else{
            output = hour;
          }
          output+=":"+('0' + min).slice(-2);
          if(hour > 11){
            output+="p";
          }else{
            output+="a";
          }
          return output;
        },
        toggleSelection(crn, conflicts, state=null) {
          if(state !== null){
            Vue.set(this.selected.courses, crn, state);
          }else{
            if(typeof this.selected.courses[crn] === 'undefined'){
              Vue.set(this.selected.courses, crn, true);
            }else{
              Vue.set(this.selected.courses, crn, !this.selected.courses[crn]);
            }
          }
          for(var conflict in conflicts){
            if(this.selected.courses[crn]){
              Vue.set(this.conflict_list, conflict, (this.conflict_list[conflict]+1) || 1);
            }else{
              Vue.set(this.conflict_list, conflict, (this.conflict_list[conflict]-1) || 0);
            }

          }
        },
        isSelected(crn){
          return this.selected.courses[crn] === true ? 'selected':'';
        },
      },
      template:`
      <div class="card">
        <div class="card-header" v-on:click="expanded=!expanded">
          <i class="fas fa-caret-right open_close_icon" :class="{opened_icon:expanded}"></i>
          <span class="font-weight-bold">{{course.subj}}-{{course.crse}}: {{course.title}}</span>
          <!--TODO format credit nicely using min and max only showing what is needed -->
          {{course.sections[0].cred_min}} credit<template v-if="course.sections[0].cred_min!=1">s</template>
          <br>
          {{getDescription(course.subj, course.crse)}}
        </div>
        <div class="card-body course-card-body" :class="{expanded:expanded}">
          <ul class="list-group mobile-only">
            <li v-for="section in course.sections" v-on:click="toggleSelection(section.crn, section.conflicts)"  class="list-group-item" :class="{selected:selected.courses[section.crn], conflict:conflict_list[section.crn]>0}">
              <span class="font-weight-bold">{{section.sec}}</span>
              {{section.crn}}
              {{section.instructor}}
              {{section.timeslots[0].date_start}}-{{section.timeslots[0].date_end}}
              <br>
              {{section.timeslots[0].instructor}}
              <br>
              <span class="week-day-time">
                <template v-for="day in days">
                  <template v-for="time in getDay(section.timeslots, day)">
                    <span class="font-weight-bold">{{day}}:</span>{{formatTime(time.time_start)}}-{{formatTime(time.time_end)}}
                  </template>
                </template>
              </span>
            </li>
          </ul>
          <table class="desktop-only table table-bordered" style="margin-bottom:0px">
            <thead>
              <tr>
                <th style="width:100%">Info</th>
                <th v-for="day in days" class="week-day">{{day}}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="section in course.sections" v-on:click="toggleSelection(section.crn, section.conflicts)" :class="{selected:selected.courses[section.crn], conflict:conflict_list[section.crn]>0}">
                <td class="info-cell">
                  <span class="font-weight-bold">{{section.sec}}</span>-{{section.crn}}
                  {{section.instructor}}
                  {{section.timeslots[0].date_start}}-{{section.timeslots[0].date_end}}
                  {{section.timeslots[0].instructor}}
                </td>
                <td v-for="day in days" class="time-cell">
                  <template v-for="time in getDay(section.timeslots, day)">
                    <nobr>{{formatTime(time.time_start)}}-{{formatTime(time.time_end)}}</nobr>
                    <br>
                  </template>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      `
    })


    const Department = {
      data: function () {
        return {
          days: ['M','T', 'W', 'R', 'F'],
        }
      },
      computed: {
        department: function () {
          //TODO switch scraper to dictionary where department code is the key
          if(Object.keys(this.$parent.courses).length === 0){
            return {};
          }
          for(let i=0;i<this.$parent.courses.departments.length;i++){
            if(this.$parent.courses.departments[i].code == this.$route.params.code){
              return this.$parent.courses.departments[i];
            }
          }
        },
      },
      template: `
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg">
          <h1>{{department.code}}: {{department.name}}</h1>
          <div class="card-columns">
            <div v-for="course in department.courses">
              <course-card
                v-bind:course="course"
                v-bind:catalog="$parent.catalog"
                v-bind:selected="$parent.selected"
                v-bind:conflict_list="$parent.conflict_list"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
      `
    }

    const Schedule = {
      data:function () {
        return {
          keep_selected:{},
        }
      },
      methods:{
        selectedCourse: function(course){
          if(this.keep_selected[course.subj+'-'+course.crse]){
            return true;
          }

          for(let i=0;i<course.sections.length;i++){
            if(this.$parent.selected.courses[course.sections[i].crn]){
              this.keep_selected[course.sections[i].crn] = true;
              Vue.set(this.keep_selected, course.subj+'-'+course.crse, true);
              return true;
            }
          }
          return false;
        },
        wereThereSelections: function(){
          return Object.keys(this.keep_selected).length === 0;
        }
      },
      template: `
      <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg">
          <div class="card-columns">
            <template v-if="wereThereSelections()">
              <h3>It looks like you have no selected any courses yet :(</h3>
              <router-link class="navbar-brand" to="/">Click to slect a course</router-link>
            </template>
            <div v-for="department in this.$parent.courses.departments">
              <div v-for="course in department.courses">
                <template v-if="selectedCourse(course)">
                  <course-card
                    v-bind:course="course"
                    v-bind:catalog="$parent.catalog"
                    v-bind:selected="$parent.selected"
                    v-bind:conflict_list="$parent.conflict_list"
                  />
                </template>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-1"></div>
      </div>
      `
    }


      var app = new Vue({
        el: '#app',
        router: new VueRouter({
          routes: [
            { path: '/', component: Homepage },
            { path: '/schedule', component: Schedule },
            { path: '/department/:code', component: Department }
          ]
        }),
        data: {
          courses: {},
          catalog: {},
          version: '0.0.1',
          selected: {'courses':[]},
          conflict_list: {},//TODO save what course actually conflicts not just the number
        },
        mounted() {
          if (localStorage.selected) {
            this.selected = JSON.parse(localStorage.getItem('selected'));
            if(this.selected == null || this.selected == "" || !this.selected['version'] || this.selected['version'] != this.version){
              this.selected = {'version':this.version, 'courses':{}};
              localStorage.setItem('selected', JSON.stringify(this.selected));
            }
          }else{
            this.selected = {'version':this.version, 'courses':{}};
            localStorage.setItem('selected', JSON.stringify(this.selected));
          }
        },
        watch: {
          selected: {
            handler() {
              localStorage.setItem('selected', JSON.stringify(this.selected));
            },
            deep: true,
          },
          courses: {
            handler() {
              for(let j=0;j<this.courses.departments.length;j++){
                for(let k=0;k<this.courses.departments[j].courses.length;k++){
                  for(let l=0;l<this.courses.departments[j].courses[k].sections.length;l++){
                    if(!this.selected.courses[this.courses.departments[j].courses[k].sections[l].crn]){
                      continue;
                    }
                    for(var conflict in this.courses.departments[j].courses[k].sections[l].conflicts){
                      Vue.set(this.conflict_list, conflict, (this.conflict_list[conflict]+1) || 1);
                    }
                  }
                }
              }

              $('.loading').removeClass('loading');
              $('#loading-icon').hide();
              console.log("done loading courses")
            },
            deep: false,
          }
        },
      }).$mount('#app')

      $.getJSON('./data/courses.json', function (json) {
          app.courses = json;
      })
      $.getJSON('./data/catalog.json', function (json) {
          app.catalog = json;
      });
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
