[data-theme="true-dark"] {
  --card-header-text: #000000;
  --card-body-text: #000000;
  --background: #000000;
  --global-text: #000000;
  --card-body-background: #000000;
  --card-header-background: #000000;
  --footer-background: #000000;
  --navbar-background: #000000;
  --navbar-unselected-text: #000000;
  --navbar-unselected-text-hover: #000000;
  --navbar-text-focus: #000000;
  --navbar-text-disabled: #000000;
  --navbar-text-active: #000000;
  --modal-header-background: #000000;
  --modal-header-text: #000000;
  --modal-body-background: #000000;
  --modal-body-text: #000000;
  --modal-footer-background: #000000;
  --modal-footer-text: #000000;
  --btn-primary-background: #000000;
  --btn-primary-text: #000000;
  --department-link-hover: #000000;
  --select-background: #000000;
  --select-text: #000000;
  --modal-close-x-hover: #000000;
  --card-header-hover: #000000;
  --table-text: #000000;
  --course-row-hover: #000000;
  --conflict-row: #000000;
  --conflict-row-hover: #000000;
  --selected-row: #000000;
  --selected-row-hover: #000000;
}