[data-theme="dark"][data-theme-accent="black"] {
  --background: #000;
  --card-body-background: #000;
  --footer-background: #000;
  --btn-box-shadow: none;
  --btn-transition: all 0s ease 0s;
  --btn-border-radius: 0;
  --btn-border: medium none color;
}
