[data-theme-accent="colorful"] {
        --navbar-background: #473200;
        --navbar-unselected-text: rgba(255, 255, 255, 0.7);
        --navbar-unselected-text-hover: rgba(255, 255, 255, 0.9);
        --navbar-text-focus: rgba(255, 255, 255, 0.9);
        --navbar-text-disabled: rgba(255, 255, 255, 0.5);
        --navbar-text-active: rgba(255, 255, 255, 0.9);
        --navbar-text-show: rgba(255, 255, 255, 1);
        --btn-box-shadow: none;
        --btn-transition: all 0s ease 0s;
        --btn-border-radius: 0px;
        --btn-border: medium none color;
}