[data-theme-accent="colorful"] {
  --navbar-background: #473200;
  --navbar-unselected-text: rgb(255 255 255 / 70%);
  --navbar-unselected-text-hover: rgb(255 255 255 / 90%);
  --navbar-text-focus: rgb(255 255 255 / 90%);
  --navbar-text-disabled: rgb(255 255 255 / 50%);
  --navbar-text-active: rgb(255 255 255 / 90%);
  --navbar-text-show: rgb(255 255 255 / 100%);
  --btn-box-shadow: none;
  --btn-transition: all 0s ease 0s;
  --btn-border-radius: 0;
  --btn-border: medium none color;
}
