[data-theme="flowing"] {
    --card-header-text: #000000;
    --raw-link: #007bff;
    --background: #ffffff;
    --global-text: #000000;
    --global-text-hover: #505050;
    --card-body-background: #ffffff;
    --card-body-text: #000000;
    --card-header-background: linear-gradient(90deg, rgb(170, 213, 253) 35%, rgb(143, 255, 148) 100%);
    --footer-background: linear-gradient(90deg, rgb(165, 179, 248) 0%, rgb(255, 173, 189) 100%);
    --navbar-background: linear-gradient(90deg, rgb(91, 173, 250) 35%, rgb(107, 225, 248) 100%);
    --navbar-unselected-text: rgba(0, 0, 0, 0.5);
    --navbar-unselected-text-hover: rgba(0, 0, 0, 0.7);
    --navbar-text-focus: rgba(0, 0, 0, 0.7);
    --navbar-text-disabled: rgba(0, 0, 0, 0.3);
    --navbar-text-active: rgba(0, 0, 0, 0.9);
    --navbar-text-show: rgba(0, 0, 0, 0.9);
    --modal-header-background: #ffffff;
    --modal-header-text: #000000;
    --modal-body-background: #ffffff;
    --modal-body-text: rgb(33, 37, 41);
    --modal-footer-background: linear-gradient(90deg, rgba(185, 185, 185, 1) 0%, rgba(231, 229, 229, 1) 100%);
    --modal-footer-text: rgb(33, 37, 41);
    --btn-primary-background: linear-gradient(90deg, #34D399 0%, rgb(38, 197, 112) 100%);
    --btn-primary-text: #ffffff;
    --btn-border-radius: 20px;
    --btn-border: none;
    --btn-box-shadow: 0px 0px 6px rgb(68, 180, 128);
    --btn-transition: 0.35s;
    --department-link-hover: linear-gradient(90deg, rgba(249, 194, 138, 1) 0%, rgba(233, 213, 148, 1) 100%);
    --select-text: #495057;
    --modal-close-x-hover: red;
    --card-header-hover: #eaeaea;
    --table-text: #212529;
    --course-row-hover: #f0f0f0;
    --conflict-row: #ff6060;
    --conflict-row-hover: #ff7b7b;
    --selected-row: linear-gradient(90deg, rgba(254, 190, 255, 1) 0%, rgba(233, 213, 148, 1) 100%);
    --selected-row-hover: #acb2ff;
    --list-group-item-background: #ffffff;
    --calendar-label: #757575;
    --toast-background: #111111;
    --toast-text: #ffffff;
    --trash-btn: #00973f;
    --trash-btn-hover: #ff0000;
    --prerequisite-jumbotron: #e9ecef;
    --prerequisite-warn-icon: #ffc107;
    --prerequisite-error-icon: #ff0000;
    --prerequisite-text: #000000;
    --taken-course: #228C3A;
    --not-taken-course: #dc3545;
    --overlay-background: #f8f9fa;
    --num-calendar-colors: 7;
    --calendar-bg-color-0: #ffe9cf;
    --calendar-border-color-0: #F59E0B;
    --calendar-text-color-0: #000000;
    --calendar-bg-color-1: #FEE2E2;
    --calendar-border-color-1: #EF4444;
    --calendar-text-color-1: #000000;
    --calendar-bg-color-2: #DBEAFE;
    --calendar-border-color-2: #60A5FA;
    --calendar-text-color-2: #000000;
    --calendar-bg-color-3: #FEF3C7;
    --calendar-border-color-3: #FCD34D;
    --calendar-text-color-3: #000000;
    --calendar-bg-color-4: #D1FAE5;
    --calendar-border-color-4: #6EE7B7;
    --calendar-text-color-4: #000000;
    --calendar-bg-color-5: #f7e2f7;
    --calendar-border-color-5: #d373da;
    --calendar-text-color-5: #000000;
    --calendar-bg-color-6: #FCE7F3;
    --calendar-border-color-6: #a48363;
    --calendar-text-color-6: #000000;
}