/* This file should be for setting the css of stuff that already looks fine by default
for example use this file to give text the color black. Then we can overwrite it using
a color in colors.css */

body {
  background: var(--background);
  background-image: var(--background-image);
  background-attachment: var(--background-attachment);
  color: var(--global-text);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}

.card-body {
  background: var(--card-body-background);
  color: var(--card-body-text);
  border-radius: 0 0 var(--card-inner-radius) var(--card-inner-radius);
}

.card-header {
  background: var(--card-header-background);
  color: var(--card-header-text);
}

.card {
  background-color: var(--card-background);
  border-color: var(--card-border-color);
  border-width: var(--card-border-width);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-shadow);
  backdrop-filter: var(--card-backdrop-filter);
}

.card-header:first-child {
  border-radius: var(--card-inner-radius) var(--card-inner-radius) 0 0;
}

.navbar.bg-light {
  background: var(--navbar-background) !important;
  backdrop-filter: var(--navbar-backdrop-filter);
}

.b-overlay > .bg-light {
  background: var(--overlay-background) !important;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--navbar-unselected-text);
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--navbar-unselected-text-hover);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: var(--navbar-text-disabled);
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--navbar-text-active);
}

.navbar-light .navbar-nav .nav-link:focus {
  color: var(--navbar-text-focus);
}

.navbar-light .navbar-nav .show > .nav-link {
  color: var(--navbar-text-show);
}

.modal-header,
.close {
  background: var(--modal-header-background);
  color: var(--modal-header-text);
}

.close:hover {
  color: var(--modal-close-x-hover);
}

.modal-body {
  background: var(--modal-body-background);
  color: var(--modal-body-text);
}

.modal-footer {
  background: var(--modal-footer-background);
  color: var(--modal-footer-text);
}

.btn-primary {
  background: var(--btn-primary-background);
  border-color: var(--btn-primary-background);
  color: var(--btn-primary-text);
  border-radius: var(--btn-border-radius);
  border: var(--btn-border);
}

.btn-primary:hover {
  box-shadow: var(--btn-box-shadow);
  transition: var(--btn-transition);
}

.btn-secondary {
  background: var(--btn-secondary-background);
  border-color: var(--btn-secondary-background);
  color: var(--btn-secondary-text);
}

.custom-select {
  background: var(--select-background);
  color: var(--select-text);
}

.custom-select:focus {
  color: var(--select-text);
}

.table {
  color: var(--table-text);
}

.table-bordered td {
  border-color: var(--table-border);
}

.table thead th {
  border-color: var(--table-border);
}

.table-bordered {
  border-color: var(--table-border);
}

.list-group-item {
  background: var(--list-group-item-background);
}

.unofficial-schedule-warning {
  text-align: center;
  padding-top: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  padding-bottom: 1rem;
  font-size: var(--warning-font-size);
  border-style: var(--warning-border-style);
  border-width: var(--warning-border-width);
  color: var(--warning-color);
}
