:root {
        --card-header-text: #000000;
        --background: #ffffff;
        --global-text: #000000;
        --global-text-hover: #505050;
        --card-body-background: #ffffff;
        --card-body-text: #000000;
        --card-header-background: #f7f7f7;
        --footer-background: #d3d3d3;
        --navbar-background: #f8f9fa;
        --navbar-unselected-text: rgba(0, 0, 0, 0.5);
        --navbar-unselected-text-hover: rgba(0, 0, 0, 0.7);
        --navbar-text-focus: rgba(0, 0, 0, 0.7);
        --navbar-text-disabled: rgba(0, 0, 0, 0.3);
        --navbar-text-active: rgba(0, 0, 0, 0.9);
        --modal-header-background: #ffffff;
        --modal-header-text: rgb(33, 37, 41);
        --modal-body-background: #ffffff;
        --modal-body-text: rgb(33, 37, 41);
        --modal-footer-background: #ffffff;
        --modal-footer-text: rgb(33, 37, 41);
        --btn-primary-background: #007bff;
        --btn-primary-text: #ffffff;
        --department-link-hover: #d3d3d3;
        --select-background: #ffffff;
        --select-text: #495057;
        --modal-close-x-hover: #000000;
        --card-header-hover: #eaeaea;
        --table-text: #212529;
        --course-row-hover: #f0f0f0;
        --conflict-row: #ff6060;
        --conflict-row-hover: #ff7b7b;
        --selected-row: #9198f9;
        --selected-row-hover: #acb2ff;
        --list-group-item-background: #ffffff;
        --calendar-label: #757575;
        --toast-background: #111111;
        --toast-text: #ffffff;

        --num-calendar-colors: 7;

        --calendar-bg-color-0: #ffe9cf;
        --calendar-border-color-0: #ff9332;
        --calendar-text-color-0: #000000;

        --calendar-bg-color-1: #ffd4df;
        --calendar-border-color-1: #ff2066;
        --calendar-text-color-1: #000000;

        --calendar-bg-color-2: #ceeffc;
        --calendar-border-color-2: #00aff2;
        --calendar-text-color-2: #000000;

        --calendar-bg-color-3: #fff4d0;
        --calendar-border-color-3: #ffcb45;
        --calendar-text-color-3: #000000;

        --calendar-bg-color-4: #dcf7da;
        --calendar-border-color-4: #48da58;
        --calendar-text-color-4: #000000;

        --calendar-bg-color-5: #f7e2f7;
        --calendar-border-color-5: #d373da;
        --calendar-text-color-5: #000000;

        --calendar-bg-color-6: #ede6df;
        --calendar-border-color-6: #a48363;
        --calendar-text-color-6: #000000;
}
