.loading {
        display: none;
}

#loading-icon {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 25%;
}

.week-day-time {
        font-size: 10pt;
        padding: 1px !important;
}

.list-group {
        border-radius: 0px;
}

.list-group-item,
.card-header {
        padding: 10px;
}

.card-columns {
        column-count: 1;
        margin-bottom: 0.75rem;
}
