.loading {
        display: none;
}

.loading-spinner {
        display: block;
        position: fixed;
        z-index: 1031;
        /* High z-index so it is on top of the page */
        top: 50%;
        right: 50%;
        /* or: left: 50%; */
        margin-top: -5rem;
        /* half of the elements height */
        margin-right: -5rem;
        /* half of the elements widht */

        width: 10rem;
        height: 10rem;
        font-size: 3rem;
}

#loading-icon {
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 25%;
}

.week-day-time {
        font-size: 10pt;
        padding: 1px !important;
}

.list-group {
        border-radius: 0px;
}

.list-group-item,
.card-header {
        padding: 10px;
}

.card-column {
        column-count: 1;
        margin-bottom: 0.75rem;
}

@media (min-width: 992px) {
        .autocomplete {
                width: 500px;
        }
}


/* For sticky footer */
html,
body,
#app {
        height: 100%;
}

#app {
        display: flex;
        flex-direction: column;
}

#wrapper {
        flex: 1 0 auto;
}

.footer {
        flex-shrink: 0;
}

/* End for sticky footer */

.desktop-only {
        display: none;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
        .desktop-only {
                display: block;
        }

        td.desktop-only,
        th.desktop-only {
                display: table-cell;
        }
}

.mobile-only {
        display: block;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
        .mobile-only {
                display: none;
        }
}
