name: Deploy to github pages
on:
  push:
    branches:
      - master
      - staging
jobs:
  gh-pages-deploy:
    name: Deploying to gh-pages
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js for use with actions
        uses: actions/setup-node@v1.1.0
        with:
          version:  12.x

      - name: Checkout branch
        uses: actions/checkout@v2
        with:
          submodules: 'recursive'

      - name: Clean install dependencies
        run: yarn install --frozen-lockfile

      - name: Install wasm-pack
        run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

      - name: Run deploy script
        run: |
          git config user.name "QuACS" && git config user.email "eli@elischiff.org"
          yarn gh-pages-deploy
